## 1. 라이브러리 선언

In [5]:
import pandas as pd

In [9]:
pirLirUrl = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002340074&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EC%A3%BC%ED%83%9D%EA%B8%88%EC%9C%B5%EA%B3%B5%EC%82%AC_%EC%A7%80%EC%97%AD%EB%B3%84%20PIR%20%EB%B0%8F%20LIR"

## 2. 공공데이터(파일테이터 불러오기)

In [11]:
indata = pd.read_csv(pirLirUrl, encoding='ms949') #한글인코딩 문제에서 encoding='ms949'사용!

In [12]:
# 최하위 5개 행 데이터
indata.tail()

,연도,월,전국PIR,서울PIR,부산PIR,대구PIR,인천PIR,광주PIR,대전PIR,울산PIR,...,세종LIR,경기LIR,강원LIR,충북LIR,충남LIR,전북LIR,전남LIR,경북LIR,경남LIR,제주LIR
190,2020,1,4.47,5.44,4.84,5.16,4.39,4.76,4.52,4.11,...,2.63,2.39,1.90,1.76,1.87,1.94,1.85,1.80,2.02,2.13
191,2020,2,4.45,5.02,5.04,4.92,4.49,4.52,4.36,3.90,...,2.69,2.34,1.96,1.87,1.89,1.83,1.68,1.69,1.91,2.07
192,2020,3,4.76,5.12,5.22,5.20,4.76,5.04,4.74,4.11,...,2.22,2.56,2.13,1.98,2.03,1.97,1.89,1.95,2.23,2.27
193,2020,4,4.83,4.95,5.67,5.91,4.78,5.41,5.40,4.44,...,1.73,2.54,2.13,2.09,2.14,2.11,1.94,1.97,2.06,1.85
194,2020,5,4.56,4.88,7.01,5.44,4.56,3.16,4.72,5.77,...,0.00,2.23,2.44,1.08,1.65,1.04,1.68,1.99,2.17,0.96

In [15]:
# 최상위 5개 행 데이터
indata.head()

,연도,월,전국PIR,서울PIR,부산PIR,대구PIR,인천PIR,광주PIR,대전PIR,울산PIR,...,세종LIR,경기LIR,강원LIR,충북LIR,충남LIR,전북LIR,전남LIR,경북LIR,경남LIR,제주LIR
0,2004,3,4.21,4.87,3.95,3.73,4.65,2.80,4.68,2.66,...,0.0,2.43,1.90,1.53,1.21,1.76,1.42,1.31,2.06,1.28
1,2004,4,4.18,5.28,3.74,3.85,4.36,2.76,3.79,2.60,...,0.0,2.66,1.18,1.58,1.81,1.51,1.30,1.25,1.75,2.46
2,2004,5,4.06,4.86,4.27,3.76,4.26,3.24,4.17,2.91,...,0.0,2.26,1.43,1.68,1.79,1.70,1.26,1.51,1.69,2.14
3,2004,6,4.46,5.91,4.25,3.81,4.37,2.83,4.23,2.71,...,0.0,2.78,1.56,1.57,1.79,1.63,1.33,1.56,1.89,1.81
4,2004,7,4.49,6.15,4.51,4.28,4.88,3.33,4.46,2.57,...,0.0,2.62,1.69,1.94,2.24,1.63,1.55,1.50,1.95,2.31

In [17]:
# 라이브러리선언
import pandas as pd
#url을 data 라는 변수에 저장
data = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002312933&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EB%B6%80%EB%8F%99%EC%82%B0%EC%9B%90_%EC%98%A4%ED%94%BC%EC%8A%A4%ED%85%94%20%EC%A0%84%EC%84%B8%EA%B0%80%EA%B2%A9(%EC%9B%94%EB%B3%84)_20201014"
#indata라는 변수에 저장해서 불러오기
indata = pd.read_csv(data, encoding='ms949')
#불러오기
indata

In [23]:
import pandas as pd

In [29]:
url = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=YTdjYTAyMzU3MGY4ZmU2OGMyOWQwNjk5NzlhYWVlMjc=&format=json&jsonVD=Y&userStatsId=jammmm91/101/DT_1B040A3/2/1/20210412145640&prdSe=M&newEstPrdCnt=1"
json = pd.DataFrame() 
try:
    json = pd.read_json(url)
except Exception as e:
    print(e)
json

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,51705905,M,0,전국,Whole country
1,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,25787390,M,0,전국,Whole country
2,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,25918515,M,0,전국,Whole country
3,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9598484,M,11,서울특별시,Seoul
4,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,4667524,M,11,서울특별시,Seoul
5,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,4930960,M,11,서울특별시,Seoul
6,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,3372399,M,26,부산광역시,Busan
7,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1651804,M,26,부산광역시,Busan
8,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1720595,M,26,부산광역시,Busan
9,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2408875,M,27,대구광역시,Daegu
10,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1188070,M,27,대구광역시,Daegu
11,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1220805,M,27,대구광역시,Daegu
12,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2936461,M,28,인천광역시,Incheon
13,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1470750,M,28,인천광역시,Incheon
14,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1465711,M,28,인천광역시,Incheon
15,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1445473,M,29,광주광역시,Gwangju
16,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,715226,M,29,광주광역시,Gwangju
17,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,730247,M,29,광주광역시,Gwangju
18,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1458463,M,30,대전광역시,Daejeon
19,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,728075,M,30,대전광역시,Daejeon
20,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,730388,M,30,대전광역시,Daejeon
21,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1129254,M,31,울산광역시,Ulsan
22,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,580424,M,31,울산광역시,Ulsan
23,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,548830,M,31,울산광역시,Ulsan
24,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,360462,M,36,세종특별자치시,Sejong_si
25,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,180030,M,36,세종특별자치시,Sejong_si
26,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,180432,M,36,세종특별자치시,Sejong_si
27,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,13465837,M,41,경기도,Gyeonggi-do
28,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,6776866,M,41,경기도,Gyeonggi-do
29,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,6688971,M,41,경기도,Gyeonggi-do
30,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1536399,M,42,강원도,Gangwon-do
31,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,773248,M,42,강원도,Gangwon-do
32,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,763151,M,42,강원도,Gangwon-do
33,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1595714,M,43,충청북도,Chungcheongbuk-do
34,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,809457,M,43,충청북도,Chungcheongbuk-do
35,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,786257,M,43,충청북도,Chungcheongbuk-do
36,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2115823,M,44,충청남도,Chungcheongnam-do
37,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1080841,M,44,충청남도,Chungcheongnam-do
38,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1034982,M,44,충청남도,Chungcheongnam-do
39,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1797450,M,45,전라북도,Jeollabuk-do
40,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,893974,M,45,전라북도,Jeollabuk-do
41,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,903476,M,45,전라북도,Jeollabuk-do
42,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1844811,M,46,전라남도,Jeollanam-do
43,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,927884,M,46,전라남도,Jeollanam-do
44,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,916927,M,46,전라남도,Jeollanam-do
45,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2635563,M,47,경상북도,Gyeongsangbuk-do
46,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1327990,M,47,경상북도,Gyeongsangbuk-do
47,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1307573,M,47,경상북도,Gyeongsangbuk-do
48,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,3330463,M,48,경상남도,Gyeongsangnam-do
49,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1677021,M,48,경상남도,Gyeongsangnam-do
50,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1653442,M,48,경상남도,Gyeongsangnam-do
51,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,673974,M,50,제주특별자치도,Jeju-do
52,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,338206,M,50,제주특별자치도,Jeju-do
53,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,335768,M,50,제주특별자치도,Jeju-do

## 시계열 총인구수*서울특별시

In [30]:
url = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=YTdjYTAyMzU3MGY4ZmU2OGMyOWQwNjk5NzlhYWVlMjc=&format=json&jsonVD=Y&userStatsId=jammmm91/101/DT_1B040A3/2/1/20210412150447_1&prdSe=M&newEstPrdCnt=3"
json = pd.DataFrame() 
try:
    json = pd.read_json(url)
except Exception as e:
    print(e)
json

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202101,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9657969,M,11,서울특별시,Seoul
1,행정구역(시군구)별 성별 인구수,202102,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9648606,M,11,서울특별시,Seoul
2,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9598484,M,11,서울특별시,Seoul

## 시계열 남자인구수*서울특별시

In [31]:
url = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=YTdjYTAyMzU3MGY4ZmU2OGMyOWQwNjk5NzlhYWVlMjc=&format=json&jsonVD=Y&userStatsId=jammmm91/101/DT_1B040A3/2/1/20210412150447_2&prdSe=M&newEstPrdCnt=3"
json = pd.DataFrame() 
try:
    json = pd.read_json(url)
except Exception as e:
    print(e)
json

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202101,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,4695999,M,11,서울특별시,Seoul
1,행정구역(시군구)별 성별 인구수,202102,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,4690282,M,11,서울특별시,Seoul
2,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,4667524,M,11,서울특별시,Seoul

## 시계열 여자인구수*서울특별시

In [35]:
url = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=YTdjYTAyMzU3MGY4ZmU2OGMyOWQwNjk5NzlhYWVlMjc=&format=json&jsonVD=Y&userStatsId=jammmm91/101/DT_1B040A3/2/1/20210412150447_3&prdSe=M&newEstPrdCnt=3"
json = pd.DataFrame() 
try:
    json = pd.read_json(url)
except Exception as e:
    print(e)
json

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202101,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,4961970,M,11,서울특별시,Seoul
1,행정구역(시군구)별 성별 인구수,202102,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,4958324,M,11,서울특별시,Seoul
2,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,4930960,M,11,서울특별시,Seoul

In [36]:
rowlist = []
columnList = []

In [37]:
columnList.append("82500")

In [38]:
columnList.append("2008")

In [39]:
rowlist.append(columnList)

In [40]:
columnList = []

In [41]:
columnList.append("72500")

In [42]:
columnList.append("2010")

In [43]:
rowlist.append(columnList)

In [44]:
rowlist

[['82500', '2008'], ['72500', '2010']]

In [45]:
pd.DataFrame(rowlist)

       0     1
0  82500  2008
1  72500  2010

## 1. 라이브러리 선언

In [147]:
import requests
from lxml import html
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote

In [148]:
API_Key = unquote('AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D')
url = "http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev"
queryParams = '?' + urlencode(
    {
        quote_plus('ServiceKey') : API_Key,
        quote_plus('LAWD_CD'): '11110',
        quote_plus('DEAL_YMD'): '201512'
    }
)

In [149]:
queryParams

'?ServiceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D&LAWD_CD=11110&DEAL_YMD=201512'

In [150]:
response = requests.get(url+queryParams)
response.encoding='utf-8'

In [151]:
response.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><거래금액>    82,500</거래금액><건축년도>2008</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00004</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>03</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 사직동</법정동><법정동본번코드>0009</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11500</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>광화문풍림스페이스본(101동~105동)</아파트><월>12</월><일>10</일><일련번호>11110-2203</일련번호><전용면적>94.51</전용면적><지번>9</지번><지역코드>11110</지역코드><층>11</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    60,000</거래금액><건축년도>1981</건축년도><년>2015</년><도로명>세종대로23길</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>02</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100190</도로명코드><법정동> 당주동</법정동><법정동본번코드>0145</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11700</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>롯데미도파광화문빌딩</아파트><월>12</월><일>22</일><일련번호>11110-12</일련번호><전용면적>149.95</전용면적><지번>145</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>   130,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>경희궁2길</도로명><도로명건물본번호코드>00005</도로명건물본번호코드><도로명건물부번호코드>00005</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100005</도로명코드><법정동> 내수동</법정동><법정동본번코드>0110</법정동본번코드><법정동부번코드>0015</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>킹스매너</아파트><월>12</월><일>8</일><일련번호>11110-118</일련번호><전용면적>194.43</전용면적><지번>110-15</지번><지역코드>11110</지역코드><층>6</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>   105,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00024</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0071</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁의아침2단지</아파트><월>12</월><일>14</일><일련번호>11110-115</일련번호><전용면적>124.17</전용면적><지번>71</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>   120,000</거래금액><건축년도>2003</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00020</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0095</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁 파크팰리스</아파트><월>12</월><일>24</일><일련번호>11110-107</일련번호><전용면적>146.33</전용면적><지번>95</지번><지역코드>11110</지역코드><층>4</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>17</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>18</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>4</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    57,000</거래금액><건축년도>2006</건축년도><년>2015</년><도로명>혜화로3가길</도로명><도로명건물본번호코드>00030</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100544</도로명코드><법정동> 명륜1가</법정동><법정동본번코드>0019</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17000</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>렉스빌</아파트><월>12</월><일>29</일><일련번호>11110-973</일련번호><전용면적>106.98</전용면적><지번>19</지번><지역코드>11110</지역코드><층>3</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    44,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>1</일><일련번호>11110-25</일련번호><전용면적>84.8</전용면적><지번>4</지번><지역코드>11110</지역코드><층>18</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    52,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>10</일><일련번호>11110-25</일련번호><전용면적>84.9</전용면적><지번>4</지번><지역코드>11110</지역코드><층>12</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>49</totalCount></body></response>'

In [152]:
xmlobj = BeautifulSoup(response.text,"lxml-xml") # "lxml-xml" = parser(추출하다)

In [153]:
rows = xmlobj.find_all("item")

In [154]:
rows

[<item><거래금액>    82,500</거래금액><건축년도>2008</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00004</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>03</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 사직동</법정동><법정동본번코드>0009</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11500</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>광화문풍림스페이스본(101동~105동)</아파트><월>12</월><일>10</일><일련번호>11110-2203</일련번호><전용면적>94.51</전용면적><지번>9</지번><지역코드>11110</지역코드><층>11</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>    60,000</거래금액><건축년도>1981</건축년도><년>2015</년><도로명>세종대로23길</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>02</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100190</도로명코드><법정동> 당주동</법정동><법정동본번코드>0145</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11700</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>롯데미도파광화문빌딩</아파트><월>12</월><일>22</일><일련번호>11110-12</일련번호><전용면적>149.95</전용면적><지번>145</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>   130,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>경희궁2길</도로명><도로명건물본번호코드>00005</도로명건물본번호코드><도로명건물부번호코드>00005</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100005</도로명코드><법정동> 내수동</법정동><법정동본번코드>0110</법정동본번코드><법정동부번코드>0015</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>킹스매너</아파트><월>12</월><일>8</일><일련번호>11110-118</일련번호><전용면적>194.43</전용면적><지번>110-15</지번><지역코드>11110</지역코드><층>6</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>   105,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00024</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0071</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁의아침2단지</아파트><월>12</월><일>14</일><일련번호>11110-115</일련번호><전용면적>124.17</전용면적><지번>71</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>   120,000</거래금액><건축년도>2003</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00020</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0095</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁 파크팰리스</아파트><월>12</월><일>24</일><일련번호>11110-107</일련번호><전용면적>146.33</전용면적><지번>95</지번><지역코드>11110</지역코드><층>4</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>17</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>18</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>4</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>    57,000</거래금액><건축년도>2006</건축년도><년>2015</년><도로명>혜화로3가길</도로명><도로명건물본번호코드>00030</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100544</도로명코드><법정동> 명륜1가</법정동><법정동본번코드>0019</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17000</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>렉스빌</아파트><월>12</월><일>29</일><일련번호>11110-973</일련번호><전용면적>106.98</전용면적><지번>19</지번><지역코드>11110</지역코드><층>3</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>    44,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>1</일><일련번호>11110-25</일련번호><전용면적>84.8</전용면적><지번>4</지번><지역코드>11110</지역코드><층>18</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>,
 <item><거래금액>    52,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>10</일><일련번호>11110-25</일련번호><전용면적>84.9</전용면적><지번>4</지번><지역코드>11110</지역코드><층>12</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>]

In [ ]:
#----------------------------

In [155]:
eachrow = rows[0]

In [156]:
#한개의 행에 있는 모든 태그를 찾아라
columns = eachrow.find_all()

In [ ]:
#첫번째 내부 반복분 : 컬럼 값을 전부 담아라
for i in range (0,len(columns)):
    eachcolumn = columns[i]
    
    if j == 0:
        columnNameList.append(eachcolumn.name)

    eachcolumn = columns[i]

    eachColumnValue = eachcolumn.text

    columnList.append(eachColumnValue)

In [ ]:
sdhfgkhsf

In [157]:
rowList.append(columnList)

In [158]:
columnList = []
rowList = []
columnNameList = []

In [159]:
for j in range (0,len(rows)):

    eachRow = rows[j]

    columns = eachRow.find_all()

    # 컬럼 값 반복문 수행
    for i in range (0,len(columns)):
        eachcolumn = columns[i]
        columnList.append(eachcolumn.text.replace("   ","")) # replace = strip()

    rowList.append(columnList)

    columnList = []

In [109]:
indata = pd.DataFrame(rowList)

In [110]:
indata

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4,,
5,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
6,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
7,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
8,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
9,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,